@font-face {
    font-family: "IRANYekan";
    src: url("../font/Qs_Iranyekan.ttf");
}
body{
    font-family: IRANYekan;
    background-color: #1E1E1E;
}
h1{
    background-color: #252525;
    color:#d0a94d;
}

